* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    background-color: #333;
}


header{
    background-image:url("https://th.bing.com/th/id/R.3107d382af14c1c9984441d7ebfd099b?rik=4QNKKYsfDsE2%2bA&riu=http%3a%2f%2fwww.blkmaterial.com%2fuploadfiles%2f107.151.154.110%2fwebid1222%2fsource%2f201911%2f7773515749978077.jpg&ehk=ilCMZ170kERtrd0SN5XClyXjXqELHt4mW43IBmijjJE%3d&risl=&pid=ImgRaw&r=0");
}

img{
    display: inline;
}

#profile{
    float: right;
    margin: 10px 10px 0 0;
    color:#FFF;
    text-align:center;
}

.logo{
    display: inline-block;
    margin: 10px 0 0 10px;
    color:#FFF;
}

a{
    text-decoration: none;
    color:#000;
}

.navlink{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

li{
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav{
    border-bottom: 2px solid #000;
    border-top:  2px solid #000;
    background-color: #FFF;
}

h1{
    display: inline-block;
    margin: 10px 0 0 10px;
    color:#FFF;
}

form{
    padding-top: 25px;
    padding-left: 50px;
    color:#FFF;
}

form input{
    margin-bottom: 10px;
    width: 300px;
}

button{
    margin-top: 10px;
    padding: 5px;
}